/* custom css mvp19 */

@font-face {
  font-family: euro;
  src: url(../fonts/eurostile.otf);
}
@font-face {
  font-family: sagoi;
  src: url(../fonts/Segoe-UI.ttf);
}
.euro {
	font-family: euro;
}
.sagoi {
	font-family: sagoi;
}
.avatar {
	max-height: 300px;
}

.purple{
	background-color: #7510F7;
}
.purple-black{
  background-color: #4b1c8a;
}
.grayscale{
  width: 70%;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
.grayscale:hover{

  transition: filter .4s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.withoutline{
  outline: 0;
}
.bottom{
  background-color: #263238;
}

.bg-contact{
  background-color: #f5f5f5;
}

a{
color: #007bff;
text-decoration: none;
background-color: transparent;
}
a:hover{
  text-decoration: none;
  color:#007bff;
}
a:active{
  outline: 0;
}
a:visited{
  outline: 0;
}
a:focus{
  outline:0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}